﻿/* Clearfix */
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }

/* =============================================================================================================================================
HGBOX MAIN STYLE
============================================================================================================================================= */
#hgbox
	{
	z-index: 9999;
	}

#colorbox,
#gboxOverlay,
#gboxWrapper
	{
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	overflow:hidden;
	}

#gboxWrapper
	{
	z-index:99999;
	}

#gboxOverlay
	{
	position:fixed;
	width:100%;
	height:100%;
	background: #FFF;
	}

#gboxMiddleLeft,
#gboxBottomLeft 
	{
	clear:left;
	}

#gboxContent
	{
	left: 0;
	padding: 4px;
	position:relative;
	top: 0;
	}

#gboxLoadedContent
	{
	background: url("../base/images/welcome-modal-top-bg.png") repeat-x scroll 0 0 #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.32);
	overflow: auto;
	padding: 4px 0 0 0;
	}
	
html.ie8 #gboxLoadedContent
	{
	border: 1px solid #e8e8e8;
	}

#gboxTitle
	{
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
	width:100%;
	color:#999;
	margin:0;
	}

#gboxLoadingOverlay,
#gboxLoadingGraphic
	{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	}

#gboxPrevious,
#gboxNext,
#gboxClose,
#gboxSlideshow 
	{
	cursor:pointer;
	}

.gboxPhoto
	{
	float:left;
	border:0;
	display:block;
	margin:auto;
	}

.gboxIframe
	{
	width:100%;
	height:100%;
	display:block;
	border:0;
	background:#fff;
	}
	
#gboxTopLeft,
#gboxTopCenter,
#gboxTopRight,
#gboxBottomLeft,
#gboxBottomCenter, 
#gboxBottomRight, 
#gboxMiddleLeft,
#gboxMiddleRight 
	{
	display: none;
	}

#gboxError 
	{
	border:1px solid #ccc;
	padding:50px;
	}

#gboxCurrent 
	{
	position:absolute;
	bottom:0;
	left:100px;
	color:#999;
	}

#gboxSlideshow
	{
	position:absolute;
	bottom:0;
	right:42px;
	color:#444;
	}

#gboxPrevious
	{
	position:absolute;
	bottom:0;
	left:0;
	color:#444;
	}

#gboxNext
	{
	position:absolute;
	bottom:0;
	left:63px;
	color:#444;
	}

#gboxLoadingOverlay
	{
	background:#fff url(../base/images/ajax-loader-checkout.gif) no-repeat 5px 5px;
	}
	
#gboxClose
	{
	background: url(../base/images/close.png) no-repeat center center;
	display: none !important;
	height: 18px;
	outline: 0 none;
	position: absolute;
	right: 10px;
	text-indent: -9999em;
	top: 0;
	width: 22px;
	}
	
#gboxClose:hover
	{
	background-position: -40px 0;
	}

#gboxClose:active
	{
	background-position: 100% 0;
	}


.gboxIE #gboxTopLeft,
.gboxIE #gboxTopCenter,
.gboxIE #gboxTopRight,
.gboxIE #gboxBottomLeft,
.gboxIE #gboxBottomCenter,
.gboxIE #gboxBottomRight,
.gboxIE #gboxMiddleLeft,
.gboxIE #gboxMiddleRight
	{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
	}

/* Left/Right Buttons */
#hgbox a.paginator-button
	{
	background: url(../base/images/cards-popup-stylesheet.png) no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 124px;
	margin-top: -62px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	width: 56px;
	z-index: 9999;
	}
	
#hgbox a.paginator-button:active,
#hgbox a.paginator-button:focus {
	outline:  none;
	ie-dummy: expression(this.hideFocus=true);
}

	
#hgbox a.paginator-button-prev
	{
	background-position: 0 -323px;
	left: -52px;
	}
	
#hgbox a.paginator-button-prev:hover
	{
	background-position: 0 -448px;
	}
	
#hgbox a.paginator-button-next
	{
	background-position: -57px -323px;
	right: -52px;
	}
	
#hgbox a.paginator-button-next:hover
	{
	background-position: -57px -448px;
	}
	
/* =============================================================================================================================================
DETAILS MODAL
============================================================================================================================================= */
	
div#CardDetailsModal
	{
	background: #FFF;
	height: 100%;
	overflow: hidden;
	}
	
/* =============================================================================================================================================
GENERIC
============================================================================================================================================= */
div#CardDetailsModal div.left
	{
	float: left;
	width: 585px;
	}
	
div#CardDetailsModal div.right
	{
	float: right;
	}
	
/* =============================================================================================================================================
HEADER
============================================================================================================================================= */
div#CardDetailsModal div.header
	{
	border-bottom: 1px solid #DEDEDE;
	padding: 8px 40px 8px 20px;
	position: relative;
	}

div#CardDetailsModal div.header a.close-modal
	{
	background: url(../base/images/cards-popup-stylesheet.png) no-repeat -173px 0;
	cursor: pointer;
	display: block;
	float: left;
	height: 22px;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-indent: -9999px;
	top: 0;
	width: 25px;
	}
	
div#CardDetailsModal div.header div.center
	{
	display: table;
	height: 47px;
	}

div#CardDetailsModal div.header div.center div.center-middle
	{
	display: table-cell;
	vertical-align: middle;
	}
	
div#CardDetailsModal div.header h2
	{
	color: #008FD8;
	font-size: 22px;
	}

div#CardDetailsModal div.header a.personalize-button
	{
	background: url(../base/images/cards-popup-stylesheet.png) no-repeat 100% 0;
	cursor: pointer;
	display: block;
	float: left;
	height: 43px;
	margin: 2px 0 0 0;
	overflow: hidden;
	text-indent: -9999px;
	width: 204px;
	}
	
div#CardDetailsModal div.header a.personalize-button:hover
	{
	background-position: 100% -63px;
	}

/* =============================================================================================================================================
DETAILS
============================================================================================================================================= */
div#CardDetailsModal div.details-container
	{
	height: 533px;
	}

/* =============================================================================================================================================
DETAILS - CONTENT PANE
============================================================================================================================================= */
div#CardDetailsModal div.details-container div.content-pane
	{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	padding: 10px 0 0 0;
	position: relative;
	width: 560px;
	}

/* Big Images */
div#CardDetailsModal div.details-container div.content-pane div.image-container
	{
	display: table;
	height: 420px;
	width: 100%;
	}
	
div#CardDetailsModal div.details-container div.content-pane div.image-container div.image-center
	{
	background: url(../base/images/ajax-loader-checkout.gif) no-repeat center center;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	}

div#CardDetailsModal div.details-container div.content-pane div.image-container img
	{
	display: none;
	}
	
div#CardDetailsModal div.details-container div.content-pane div.image-container.front img#ImageFront
	{
	display: inline;
	}
	
div#CardDetailsModal div.details-container div.content-pane div.image-container.inside img#ImageInside
	{
	display: inline;
	}
	
div#CardDetailsModal div.details-container div.content-pane div.image-container.back img#ImageBack
	{
	display: inline;
	}
	
/* Thumbnails */
div#CardDetailsModal div.details-container div.content-pane div.thumbnails
	{
	bottom: 4px;
	left: 0;
	position: absolute;
	width: 100%;
	}
	
div#CardDetailsModal div.details-container div.content-pane div.thumbnails ul
	{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
	}

div#CardDetailsModal div.details-container div.content-pane div.thumbnails ul li
	{
	cursor: pointer;
	display: inline-block;
	margin: 0 15px;
	text-align: center;
	}
	
div#CardDetailsModal div.details-container div.content-pane div.thumbnails ul li div.frame
	{
	background: url(../base/images/cards-popup-frame-border.png) repeat-x 0 100%;
	height: 68px;
	padding: 3px;
	width: 92px;
	}
	
div#CardDetailsModal div.details-container div.content-pane div.thumbnails ul li div.frame div.card-thumb
	{
	background: #FFF;
	height: 100%;
	text-align: center;
	width: 100%;
	}

div#CardDetailsModal div.details-container div.content-pane div.thumbnails ul li div.frame div.card-thumb span.thumb
	{
	background: url(../base/images/cards-popup-stylesheet.png) no-repeat;
	display: inline-block;
	height: 40px;
	margin: 15px 0 0 0;
	width: 32px;
	}

div#CardDetailsModal div.details-container div.content-pane div.thumbnails ul li div.frame div.card-thumb span.thumb-front
	{
	background-position: -205px -249px;
	}

div#CardDetailsModal div.details-container div.content-pane div.thumbnails ul li div.frame div.card-thumb span.thumb-inside
	{
	background-position: -335px -251px;
	}
	
div#CardDetailsModal div.details-container div.content-pane div.thumbnails ul li div.frame div.card-thumb span.thumb-back
	{
	background-position: -458px -249px;
	}

div#CardDetailsModal div.details-container div.content-pane div.thumbnails ul li p.legend
	{
	color: #5B5B5B;
	font-size: 14px;
	margin: 5px 0 0;
	}
	
/* Active */
div#CardDetailsModal div.details-container div.content-pane div.thumbnails ul li.active div.frame
	{
	background-position: 0 0;
	}
	
div#CardDetailsModal div.details-container div.content-pane div.thumbnails ul li.active div.frame div.card-thumb
	{
	box-shadow: 0 0 4px 1px #CDCDCD inset;
	}

div#CardDetailsModal div.details-container div.content-pane div.thumbnails ul li.active div.frame div.card-thumb span.thumb-front
	{
	background-position: -205px -157px;
	}

div#CardDetailsModal div.details-container div.content-pane div.thumbnails ul li.active div.frame div.card-thumb span.thumb-inside
	{
	background-position: -335px -159px;
	}
	
div#CardDetailsModal div.details-container div.content-pane div.thumbnails ul li.active div.frame div.card-thumb span.thumb-back
	{
	background-position: -458px -157px;
	}

div#CardDetailsModal div.details-container div.content-pane div.thumbnails ul li.active p.legend
	{
	color: #A7A7A7;
	}
	
/* =============================================================================================================================================
DETAILS - SIDE PANE
============================================================================================================================================= */
div#CardDetailsModal div.details-container div.sidepane
	{
	background: #F8F8F8;
	border-left: 1px solid #E8E8E8; 
	-moz-box-sizing: border-color;
	-webkit-box-sizing: border-color;
	box-sizing: border-color;
	height: 100%;
	padding: 10px;
	width: 280px;
	}
	
/* Card Name */
div#CardDetailsModal div.details-container div.sidepane h2
	{
	color: #313131;
	font-size: 24px;
	margin: 5px 0 0;
	position: relative;
	}

/* Description */
div#CardDetailsModal div.details-container div.sidepane h3
	{
	color: #5B5B5B;
	font-size: 12px;
	line-height: 16px;
	position: relative;
	top: -1px;
	}

/* Title */
div#CardDetailsModal div.details-container div.sidepane h4
	{
	color: #313131;
	font-size: 16px;
	}

/* Details List */
div#CardDetailsModal div.details-container div.sidepane ul.details-list
	{
	list-style: none;
	margin: 15px 0 0;
	padding: 0;
	}
	
div#CardDetailsModal div.details-container div.sidepane ul.details-list li
	{
	font-size: 13px;
	margin: 20px 0;
	}

div#CardDetailsModal div.details-container div.sidepane ul.details-list li strong
	{
	color: #313131;
	display: block;
	margin: 0 0 2px 0;
	}

div#CardDetailsModal div.details-container div.sidepane ul.details-list li p
	{
	color: #5B5B5B;
	font-size: 13px;
	line-height: 16px;
	}

/* Card Price */
div#CardDetailsModal div.details-container div.sidepane div.card-price
	{
	border-bottom: 1px solid #E6E6E6;
	border-top: 1px solid #E6E6E6;
	margin: 20px 0;
	padding: 7px 0;
	}
	
div#CardDetailsModal div.details-container div.sidepane div.card-price strong
	{
	color: #484848;
	float: left;
	font-size: 16px;
	margin: 5px 0 0 3px;
	width: 42px;
	}
	
div#CardDetailsModal div.details-container div.sidepane div.card-price span
	{
	color: #777777;
	display: block;
	float: right;
	font-size: 13px;
	margin: 0 0 0 13px;
	position: relative;
	top: -1px;
	width: 220px;
	}
	
div#CardDetailsModal div.details-container div.sidepane div.card-price span a
	{
	color: #008fd8;
	cursor: pointer;
	}
	
div#CardDetailsModal div.details-container div.sidepane div.card-price span a:hover
	{
	background: url(../base/images/cards-popup-order-now-underline.png) repeat-x 0 11px;
	}

html.ie div#CardDetailsModal div.details-container div.sidepane div.card-price span a:hover
	{
	background-position: 0 14px;
	}

div#CardDetailsModal div.details-container div.sidepane div.card-price span a.order-now
	{
	background: url(../base/images/cards-popup-order-now-underline.png) repeat-x 0 15px !important;
	font-size: 14px;
	}
	
/* Misc Info */
div#CardDetailsModal div.details-container div.sidepane ul.features
	{
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
div#CardDetailsModal div.details-container div.sidepane ul.features li
	{
	margin: 0 0 15px;
	}
	
div#CardDetailsModal div.details-container div.sidepane ul.features li span.icon
	{
	background: url(../base/images/cards-popup-stylesheet.png) no-repeat;
	display: inline-block;
	float: left;
	height: 57px;
	width: 57px;
	}

div#CardDetailsModal div.details-container div.sidepane ul.features li div.txt-container
	{
	float: left;
	margin-left: 10px;
	padding: 4px 0 0 0;
	width: 210px;
	}

div#CardDetailsModal div.details-container div.sidepane ul.features li div.txt-container p.title
	{
	color: #008FD8;
	font-size: 14px;
	line-height: 16px;
	}

div#CardDetailsModal div.details-container div.sidepane ul.features li div.txt-container p.description
	{
	color: #5B5B5B;
	font-size: 12px;
	line-height: 16px;
	}
	
/* LI Types */
div#CardDetailsModal div.details-container div.sidepane ul.features li.mailing span.icon
	{
	background-position: 0 0;
	}
	
div#CardDetailsModal div.details-container div.sidepane ul.features li.address span.icon
	{
	background-position: 0 -94px;
	}

div#CardDetailsModal div.details-container div.sidepane ul.features li.satisfaction span.icon
	{
	background-position: 0 -188px;
	}